 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 603px;
}

.u-section-1 .u-layout-wrap-1 {
  width: 1068px;
  margin: 0 0 0 auto;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 603px;
}

.u-section-1 .u-container-layout-1 {
  padding: 50px 10px 30px;
}

.u-section-1 .u-text-1 {
  text-transform: uppercase;
  font-size: 4.5rem;
  line-height: 1;
  font-family: "Archivo Black";
  margin: 0;
}

.u-section-1 .u-text-2 {
  letter-spacing: 4px;
  font-size: 3.75rem;
  text-transform: none;
  font-family: "Carter One";
  font-weight: 300;
  margin: 0;
}

.u-section-1 .u-text-3 {
  font-size: 1.875rem;
  font-weight: 700;
  font-family: Roboto, sans-serif;
  margin: 30px 0 0;
}

.u-section-1 .u-text-4 {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 8px;
  margin: 80px 0 0;
}

.u-section-1 .u-image-1 {
  min-height: 603px;
  background-image: url("images/pexels-photo-5650025.jpeg");
  background-position: 50% 100%;
}

.u-section-1 .u-container-layout-2 {
  padding: 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 569px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 531px;
  }

  .u-section-1 .u-image-1 {
    min-height: 531px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 364px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 30px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 20px;
  }

  .u-section-1 .u-text-3 {
    font-size: 3rem;
  }

  .u-section-1 .u-image-1 {
    min-height: 359px;
  }

  .u-section-1 .u-container-layout-2 {
    padding: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 646px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-1 .u-image-1 {
    min-height: 539px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 444px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-1 .u-text-2 {
    font-size: 2.25rem;
  }

  .u-section-1 .u-text-3 {
    font-size: 2.25rem;
  }

  .u-section-1 .u-image-1 {
    min-height: 339px;
  }
} .u-section-2 {
  background-image: none;
  min-height: 1155px;
}

.u-section-2 .u-group-1 {
  width: calc(((100% - 1140px) / 2) + 565px);
  min-height: 1154px;
  margin: 0 0 0 auto;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-list-1 {
  width: 1140px;
  margin: -1031px auto 60px;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: calc(50% - 5px) calc(50% - 5px);
  grid-gap: 10px 10px;
  min-height: 916px;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px 30px 30px 0;
}

.u-section-2 .u-image-1 {
  width: 333px;
  height: 302px;
  object-position: 50% 63.61%;
  margin: 91px 202px 0 0;
}

.u-section-2 .u-text-1 {
  margin: -212px 0 0 354px;
}

.u-section-2 .u-text-2 {
  margin: 20px 0 0 354px;
}

.u-section-2 .u-text-3 {
  font-weight: 700;
  margin: 20px 0 0 354px;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px 30px 30px 0;
}

.u-section-2 .u-image-2 {
  width: 333px;
  height: 302px;
  object-position: 50% 63.61%;
  margin: 91px 202px 0 0;
}

.u-section-2 .u-text-4 {
  margin: -212px 0 0 354px;
}

.u-section-2 .u-text-5 {
  margin: 20px 0 0 354px;
}

.u-section-2 .u-text-6 {
  font-weight: 700;
  margin: 20px 0 0 354px;
}

.u-section-2 .u-container-layout-4 {
  padding: 30px 30px 30px 0;
}

.u-section-2 .u-image-3 {
  width: 333px;
  height: 302px;
  object-position: 50% 63.61%;
  margin: 91px 202px 0 0;
}

.u-section-2 .u-text-7 {
  margin: -212px 0 0 354px;
}

.u-section-2 .u-text-8 {
  margin: 20px 0 0 354px;
}

.u-section-2 .u-text-9 {
  font-weight: 700;
  margin: 20px 0 0 354px;
}

.u-section-2 .u-container-layout-5 {
  padding: 30px 30px 30px 0;
}

.u-section-2 .u-image-4 {
  width: 333px;
  height: 302px;
  object-position: 50% 63.61%;
  margin: 91px 202px 0 0;
}

.u-section-2 .u-text-10 {
  margin: -212px 0 0 354px;
}

.u-section-2 .u-text-11 {
  margin: 20px 0 0 354px;
}

.u-section-2 .u-text-12 {
  font-weight: 700;
  margin: 20px 0 0 354px;
}

@media (max-width: 1199px) {
   .u-section-2 {
    min-height: 1026px;
  }

  .u-section-2 .u-group-1 {
    width: calc(((100% - 940px) / 2) + 470px);
    min-height: 1025px;
  }

  .u-section-2 .u-list-1 {
    width: 940px;
    height: auto;
    margin-top: -720px;
    margin-bottom: 0;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 734px;
  }

  .u-section-2 .u-image-1 {
    width: 245px;
    height: 240px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: -150px;
    margin-left: 275px;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-left: 275px;
  }

  .u-section-2 .u-text-3 {
    width: auto;
    margin-left: 275px;
  }

  .u-section-2 .u-image-2 {
    width: 245px;
    height: 240px;
  }

  .u-section-2 .u-text-4 {
    width: auto;
    margin-top: -150px;
    margin-left: 275px;
  }

  .u-section-2 .u-text-5 {
    width: auto;
    margin-left: 275px;
  }

  .u-section-2 .u-text-6 {
    width: auto;
    margin-left: 275px;
  }

  .u-section-2 .u-image-3 {
    width: 245px;
    height: 240px;
  }

  .u-section-2 .u-text-7 {
    width: auto;
    margin-top: -150px;
    margin-left: 275px;
  }

  .u-section-2 .u-text-8 {
    width: auto;
    margin-left: 275px;
  }

  .u-section-2 .u-text-9 {
    width: auto;
    margin-left: 275px;
  }

  .u-section-2 .u-image-4 {
    width: 245px;
    height: 240px;
  }

  .u-section-2 .u-text-10 {
    width: auto;
    margin-top: -150px;
    margin-left: 275px;
  }

  .u-section-2 .u-text-11 {
    width: auto;
    margin-left: 275px;
  }

  .u-section-2 .u-text-12 {
    width: auto;
    margin-left: 275px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-group-1 {
    width: calc(((100% - 720px) / 2) + 359px);
    min-height: 1315px;
  }

  .u-section-2 .u-list-1 {
    width: 720px;
    margin-top: -1036px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-2 .u-text-1 {
    margin-top: -195px;
    margin-left: 394px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 394px;
  }

  .u-section-2 .u-text-3 {
    margin-left: 394px;
  }

  .u-section-2 .u-text-4 {
    margin-top: -195px;
    margin-left: 394px;
  }

  .u-section-2 .u-text-5 {
    margin-left: 394px;
  }

  .u-section-2 .u-text-6 {
    margin-left: 394px;
  }

  .u-section-2 .u-text-7 {
    margin-top: -195px;
    margin-left: 394px;
  }

  .u-section-2 .u-text-8 {
    margin-left: 394px;
  }

  .u-section-2 .u-text-9 {
    margin-left: 394px;
  }

  .u-section-2 .u-text-10 {
    margin-top: -195px;
    margin-left: 394px;
  }

  .u-section-2 .u-text-11 {
    margin-left: 394px;
  }

  .u-section-2 .u-text-12 {
    margin-left: 394px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-group-1 {
    width: calc(((100% - 540px) / 2) + 269px);
    min-height: 1389px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-list-1 {
    width: 540px;
    margin-top: -1071px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-right: 10px;
  }

  .u-section-2 .u-image-1 {
    margin-right: 197px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 301px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 301px;
  }

  .u-section-2 .u-text-3 {
    margin-left: 301px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-right: 10px;
  }

  .u-section-2 .u-image-2 {
    margin-right: 197px;
  }

  .u-section-2 .u-text-4 {
    margin-left: 301px;
  }

  .u-section-2 .u-text-5 {
    margin-left: 301px;
  }

  .u-section-2 .u-text-6 {
    margin-left: 301px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-right: 10px;
  }

  .u-section-2 .u-image-3 {
    margin-right: 197px;
  }

  .u-section-2 .u-text-7 {
    margin-left: 301px;
  }

  .u-section-2 .u-text-8 {
    margin-left: 301px;
  }

  .u-section-2 .u-text-9 {
    margin-left: 301px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-right: 10px;
  }

  .u-section-2 .u-image-4 {
    margin-right: 197px;
  }

  .u-section-2 .u-text-10 {
    margin-left: 301px;
  }

  .u-section-2 .u-text-11 {
    margin-left: 301px;
  }

  .u-section-2 .u-text-12 {
    margin-left: 301px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-group-1 {
    width: calc(((100% - 340px) / 2) + 240px);
    min-height: 1336px;
  }

  .u-section-2 .u-list-1 {
    width: 340px;
    margin-top: -1018px;
  }

  .u-section-2 .u-image-1 {
    width: 158px;
    margin-top: -30px;
    margin-right: 0;
  }

  .u-section-2 .u-text-1 {
    margin-top: -180px;
    margin-left: 178px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 178px;
  }

  .u-section-2 .u-text-3 {
    margin-left: 178px;
  }

  .u-section-2 .u-image-2 {
    width: 158px;
    margin-top: -30px;
    margin-right: 0;
  }

  .u-section-2 .u-text-4 {
    margin-top: -180px;
    margin-left: 178px;
  }

  .u-section-2 .u-text-5 {
    margin-left: 178px;
  }

  .u-section-2 .u-text-6 {
    margin-left: 178px;
  }

  .u-section-2 .u-image-3 {
    width: 158px;
    margin-top: -30px;
    margin-right: 0;
  }

  .u-section-2 .u-text-7 {
    margin-top: -180px;
    margin-left: 178px;
  }

  .u-section-2 .u-text-8 {
    margin-left: 178px;
  }

  .u-section-2 .u-text-9 {
    margin-left: 178px;
  }

  .u-section-2 .u-image-4 {
    width: 158px;
    margin-top: -30px;
    margin-right: 0;
  }

  .u-section-2 .u-text-10 {
    margin-top: -180px;
    margin-left: 178px;
  }

  .u-section-2 .u-text-11 {
    margin-left: 178px;
  }

  .u-section-2 .u-text-12 {
    margin-left: 178px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 570px;
}

.u-section-3 .u-slider-1 {
  min-height: 528px;
  width: 893px;
  margin: 42px auto 0;
}

.u-section-3 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
  width: auto;
  height: auto;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px 80px;
}

.u-section-3 .u-image-1 {
  width: 266px;
  height: 266px;
  background-image: url("images/IMG_20210718_163351.jpg");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-3 .u-text-2 {
  width: 191px;
  margin: 42px auto 0;
}

.u-section-3 .u-carousel-control-1 {
  width: 35px;
  height: 35px;
}

.u-section-3 .u-carousel-control-2 {
  width: 35px;
  height: 35px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-slider-1 {
    height: auto;
  }

  .u-section-3 .u-text-1 {
    font-size: 1.25rem;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-slider-1 {
    width: 720px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 55px;
    padding-right: 55px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-slider-1 {
    width: 540px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 649px;
  }

  .u-section-3 .u-slider-1 {
    min-height: 565px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}